:root {
  --bg-color: #e2e2e2;
  --accent-color: #8cd50e;
  --white-color: #fff;
  --border-color: #aaa;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
