.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

.lmodir {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  font-size: 30px;
}

.lmodir h1 {
  color: var(--accent-color);
  margin: 0;
  padding: 15px 0;
  font-size: 50px;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split * {
  width: 49%;
}

.lmodir p {
  margin: 0;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  max-width: 100%;
  padding: 20px;
  margin: 0 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.form input, .form select {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.redirect{
  text-align: center;
}

.form select{
  width: 30%;
  justify-content: space-between;
  background-color: var(--white-color);
}

.form input[type="button"] {
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: raw;
    align-items: center;
    text-align: center;
  }

  .lmodir {
    text-align: center;
    margin-left: 0;
  }

  .form {
    width: 90%;
    margin: 0 0px;
  }
}

.imageUpload{
  display: none;
}

.imageUp {
  padding: 10px 15px;
  margin: 5px 0;
  position: relative;
  width: 100%;
  background-color: var(--btn-color);
  color: var(--background);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}